* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

/* Barre de navigation */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Barre de navigation */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: center;
}

/* Barre de navigation */
.navbar a:hover {
    border-bottom: 3px solid white;
}

/* Barre de navigation */
.navbar a.active {
    background-color: #6d6563;
}

/* Footer du site */
footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
border-top: 2px solid rgb(51, 51, 51);    
text-align: center;
}

/* Class permettant de crée un scroll */
.scroll
{
  border: 2px solid black;
  max-width: 90%;
  margin: auto;
  position: relative;
}

/* Class permettant de crée un scroll */
.scroll thead
{
  background-color: rgb(209, 209, 209);
  font-size: 24px;
  height: 20px;
  display:block;
}

/* Class permettant de crée un scroll */
.scroll tbody
{
  width: 100%;
  display:block;
  overflow-y: scroll;
}
 
/* Class permettant de crée un scroll */
.scroll th 
{
  width: 500px;
  padding-right: 190px;
  font-size: 24px;
}

/* Class permettant de crée un scroll */
.scroll td
{
  border-bottom: 1px solid rgb(158, 158, 158);
  font-size: 24px;
  padding-left: 140px;
  height: 100px;
  width: 500px;
}

/* Responsive pour la bar de nav */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

 .scrollBookPage
{
  border: 2px solid black;
  width: 90%;
  margin-left: 5%;
  margin-top: 122px;
}

/* Class permettant de crée un scroll */
.scrollBookPage thead
{
  background-color: rgb(209, 209, 209);
  font-size: 24px;
  padding-top:10px;
  padding-left: 105px;
  height: 20px;
  display:block;
}

/* Class permettant de crée un scroll */
.scrollBookPage tbody
{
  width: 100%;
  display:block;
  overflow-y: scroll;
  max-height:32em;
}
 
/* Class permettant de crée un scroll */
.scrollBookPage th 
{
  width: 500px;
  padding-right: 190px;
  font-size: 24px;
}

/* Class permettant de crée un scroll */
.scrollBookPage td
{
  border-bottom: 1px solid rgb(158, 158, 158);
  font-size: 24px;
  padding-left: 140px;
  height: 100px;
  width: 500px;
}

.divSelect{
  padding-left: 67px;
  padding-top: 10px;
  height: 45px;
}

#category{
  display: none;
}

#titleCategory{
  display: none;
}


#editor{
  display: none;
}

#titleEditor{
  display: none;
}

#name{
  display: none;
}

#surname{
  display: none;
}

#titleSurname{
  display: none;
}

#titleName{
  display: none;
}

.titlePropose {
  margin-top: 25px;
}

.divSelect {
  margin-left: 91px;
}

.buttonBackPropose {
  padding: 11px 25px;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 22px;
}

.buttonPropose{
  padding: 11px 25px;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 25px;
}

a.active {
  color: gray;
  text-decoration: underline;
}