ErrorDocument 404 /projetPappro/src/php/404
ErrorDocument 404 /projetPappro/src/php/401
ErrorDocument 404 /projetPappro/src/php/500
RewriteEngine On
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]